<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('activerecord.errors.messages.count_message') %></h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :limit_date %>
    <%= form.datetime_select :limit_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status,["未着手","着手","完了"] %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority,["高","中","低"] %>
  </div>

  <br>

  <div class="field">
    <% Label.all.each do |label| %>
        <% if action_name == 'new' || action_name == 'create' %>
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
          <label><%= label.name %></label>
        <% elsif action_name == 'edit' || action_name == 'update' %>
          <%= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
          <label><%= label.name %></label>
        <% end %>
      <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
