<h3>確認</h3>
<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p><%= @task.title %></p>
  <p><%= @task.content %></p>
  <p><%= @task.limit_date %></p>
  <p><%= @task.status %></p>
  <p><%= @task.priority %></p>
  <%= form.submit "登録" %>
  <%= form.submit "もどる" ,name: 'back' %>
<% end %>
