<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">menu</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          List
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if logged_in? %>
              <% if logged_in? %>
                <li class="nav-item"><%= link_to "管理画面", admin_users_path %></li>
              <% end %>
                <li class="nav-item"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
                <li class="nav-item"><%= link_to "プロフィール", user_path(current_user.id) %></li>
              <% else %>
                <li class="nav-item"><%= link_to "新規登録", new_user_path %></li>
                <li class="nav-item"><%= link_to "ログイン", new_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class:"#{key}") %>
    <% end %>
    <%= yield %>

  </body>
</html>
